.custom-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9;
    height: 50px;
}

.btn-group-toggle .btn {
    background-color: lightgray;
}
.btn-group-toggle .btn.active {
    background-color: rgb(50, 50, 228);
    color: white;
}
