.unit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    /* give all cells consistent size*/
    min-width: 100px;
    height: 50px;

    /* nice shadow */
    box-shadow: 3px 3px 5px lightblue;
    overflow: hidden;
}

.unitText {
    position: relative;
    margin: 0px;
    z-index: 10;
    font-weight: bold;
    pointer-events: none; 
    text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white,
				-1px -1px 0 white;
}

.option {
    border: 1px solid #FE6100;
}

.zeroPoint {
    border: 1px dashed black;
}

.twelvePoint {
    min-width: 200px;
}

.heading h3{
    margin: 0px;

.heading h4{
    margin: 0px;
    width: 40px;
    height: 72px;
}
}

td:hover{
    border: 1px solid lightblue;
}

.heading{
    text-align: center; 
    vertical-align: middle;
}

/* stop moving table! */

div tr div {
    border: 1px dashed white;
    min-width: 495px;
    max-width: 495px;
    min-height: 72px;
}

table div{
    /* max-height: 193px;
    max-width: 500px; */
    min-height: 180px;
}

/* gives more space to drop units*/
.sensor {
    width: 100%;
    height: 100px;
    border-top: 1px solid lightblue;
}

#table {
    text-align: center;

    /*center align*/
    margin-left: auto;
    margin-right: auto;

    /*space cells*/
    border-spacing: 10px;
    border-collapse: separate;
}

.dragover {
    border: 1px dashed #DC267F;
}

.hide {
    display: none;
}

.otherHide {
    display: none;
}

h2 {
    text-align: center;
}

.colourBox {
    display: inline-block;
    padding: 10px;
    border: solid 1px black;
    vertical-align: middle;
    margin-left: 5px;
}

.pair {
    display: inline-block;
    margin: 10px;
}

.pair p {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

.watermark{
    position: relative;
    display: block;
    /* stops it from blocking event listener. */
    pointer-events: none; 
    text-align: start;
    opacity: 0.5;
    color: gray;
    font-weight: bolder;
    font-size: 50px;
    margin: -10px;
    /* margin-bottom: 20px; */
    z-index: 0;
    line-height: 10px;
}

.sensor h2 {
    margin: 0px;
    text-decoration:underline;
}


/* make export pdf button smaller. */
#exportPdf {
    scale: 0.8;
}


/* 
Using IBM colour pallete
https://davidmathlogic.com/colorblind/#%23648FFF-%23785EF0-%23DC267F-%23FE6100-%23FFB000*/
.magenta{
    background-color: #DC267F;
}

.blue {
    background-color: #648FFF;
}

.purple {
    background-color: #785EF0;
}

.yellow {
    background-color: #FFB000;
}

.grey {
    background-color: lightgray;
}

.redPurpleStripe{
    background-image: linear-gradient(45deg, #785EF0 25%, #DC267F 25%, #DC267F 50%, #785EF0 50%, #785EF0 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

.purpleStripe{
    background-image: linear-gradient(45deg, #785EF0 25%, white 25%, white 50%, #785EF0 50%, #785EF0 75%, white 75%, white 100%);
    background-size: 56.57px 56.57px;    
}

.yellowStripe{
    background-image: linear-gradient(45deg, #FFB000 25%, white 25%, white 50%, #FFB000 50%, #FFB000 75%, white 75%, white 100%);
    background-size: 56.57px 56.57px;    
}

.redBlueStripe{
    background-image: linear-gradient(45deg, #648FFF 25%, #DC267F 25%, #DC267F 50%, #648FFF 50%, #648FFF 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

.redYellowStripe{
    background-image: linear-gradient(45deg, #FFB000 25%, #DC267F 25%, #DC267F 50%, #FFB000 50%, #FFB000 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

/* pad left without adding white line */
/* #infoBar p{
    padding-left: 10px;
} */

/* ----------------------------- OPTIONS BAR CSS -------------------------- */
#optionsBar .unit {
    display: inline-block;
}

#optionsBar table {
    display: inline-block;

    /* if content shown table size is 120
    otherwise it's nothing. */
    max-width: 120px;
    min-width: none;

    /* so button doesn't go in front of units */
    margin-left: 51px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* nice modern look */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
    background-color: white;
    border: 2px solid black;
    border-right: 0px;
    border-top: 0px;

    padding-right: 10px;
    padding-left: 10px;
}

#options tr div {
    display: block;
    max-width: 100px;
    min-width: 100px;
    padding-bottom: 50px;
}

#options {
    margin-top: 50px;
}

#options tr{
    display: block;
    border: 1px dashed white;
    min-height: 72px;
}

.leftArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.rightArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#optionsBar h3 {
    margin-top: 0px;
    position: fixed;
    background-color: white;
    max-width: 118px;
    min-width: 118px;
    margin-left: 53px;
    border-top: 2px solid black;
    text-align: center;
    z-index: 1000;
    
}

#optionsBar button.noMargin{ 
    padding: 20px;
    height: fit-content;
    display: inline-block;
    position: fixed;
}


#optionsBar button.leftMargin {
    padding: 20px;
    height: fit-content;
    display: inline-block;
    position: fixed;
    margin-left: 20px;
}

#optionsBar{
    /* background-color: white; */
    margin: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    /* Muslim happy :) */
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;


    /* stops text overflow */
    overflow-wrap: break-word;
}


/* ------------------------------- STATUS BAR CSS --------------------------- */

#statusBar {
    background-color: white;
    margin: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 30%;
    max-width: 100%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

/* ---------------------------------- INFO BAR  CSS --------------------------- */

#infoBar {
    background-color: white;
    margin: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    border: black solid 1px;

    /* Muslim happy :) */
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

/* --------------------------------------- treeview css -------------*/
#treeview {
    text-align: center;
    margin: auto;
    width: 60%;
}

#unit_tree text {
    font-family: "UWA Regular", "UWA", Georgia, serif;
}

#tree_display {
    padding: 5%;
}

/* ------------------BUTTON CSS---------------- */

.buttonHeader {
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the space between buttons */
}

.button-container .button {
    width: 250px; 
    height: 51px; /* Fixed height */
    font-size: 14px; 
    text-align: center;
    overflow: hidden; 
    transition: all 0.3s; /* transition */
}

.button-container .button:hover {
    transform: scale(1.05); /* noice */
    cursor: pointer;
}

.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.arrow {
    float: right;
}
