.unit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    /* give all cells consistent size*/
    min-width: 100px;

    /* nice shadow */
    box-shadow: 3px 3px 5px lightblue;
}

.option {
    border: 1px solid #FE6100;
}

.zeroPoint {
    border: 1px dashed black;
}

.heading h3{
    margin: 0px;

.heading h4{
    margin: 0px;
    width: 40px;
    height: 72px;
}
}

td:hover{
    border: 1px solid lightblue;
}

.heading{
    text-align: center; 
    vertical-align: middle;
}

/* stop moving table! */

div tr div {
    border: 1px dashed white;
    min-width: 495px;
    max-width: 495px;
    min-height: 72px;
}

table div{
    /* max-height: 193px;
    max-width: 500px; */
    min-height: 180px;
}

/* gives more space to drop units*/
.sensor {
    width: 100%;
    height: 100px;
    border-top: 1px solid lightblue;
}

#table {
    text-align: center;

    /*center align*/
    margin-left: auto;
    margin-right: auto;

    /*space cells*/
    border-spacing: 10px;
    border-collapse: separate;
}

.dragover {
    border: 1px dashed #DC267F;
}

.hide {
    display: none;
}

.otherHide {
    display: none;
}

h2 {
    text-align: center;
}


/* 
Using IBM colour pallete
https://davidmathlogic.com/colorblind/#%23648FFF-%23785EF0-%23DC267F-%23FE6100-%23FFB000*/
.magenta{
    background-color: #DC267F;
}

.blue {
    background-color: #648FFF;
}

.purple {
    background-color: #785EF0;
}

.yellow {
    background-color: #FFB000;
}

.grey {
    background-color: lightgray;
}

.redPurpleStripe{
    background-image: linear-gradient(45deg, #785EF0 25%, #DC267F 25%, #DC267F 50%, #785EF0 50%, #785EF0 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

.redBlueStripe{
    background-image: linear-gradient(45deg, #648FFF 25%, #DC267F 25%, #DC267F 50%, #648FFF 50%, #648FFF 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

.redYellowStripe{
    background-image: linear-gradient(45deg, #FFB000 25%, #DC267F 25%, #DC267F 50%, #FFB000 50%, #FFB000 75%, #DC267F 75%, #DC267F 100%);
    background-size: 56.57px 56.57px;    
}

.sensor h2 {
    margin: 0px;
    text-decoration:underline;
}


/* pad left without adding white line */
/* #infoBar p{
    padding-left: 10px;
} */

/* ----------------------------- OPTIONS BAR CSS -------------------------- */
#optionsBar .unit {
    display: inline-block;
}

#optionsBar table {
    display: inline-block;

    /* if content shown table size is 120
    otherwise it's nothing. */
    max-width: 120px;
    min-width: none;

    /* so button doesn't go in front of units */
    margin-left: 51px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* nice modern look */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
    background-color: white;
    border: 2px solid black;
    border-right: 0px;
    border-top: 0px;

    padding-right: 10px;
    padding-left: 10px;
}

#options tr div {
    display: block;
    max-width: 100px;
    min-width: 100px;
    padding-bottom: 50px;
}

#options {
    padding-top: 50px;
}

#options tr{
    display: block;
    border: 1px dashed white;
    min-height: 72px;
}

.leftArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.rightArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#optionsBar h3 {
    margin-top: 0px;
    position: fixed;
    background-color: white;
    max-width: 118px;
    min-width: 118px;
    margin-left: 53px;
    border-top: 2px solid black;
    text-align: center;
}

#optionsBar button.noMargin{ 
    padding: 20px;
    height: fit-content;
    display: inline-block;
    position: fixed;
}


#optionsBar button.leftMargin {
    padding: 20px;
    height: fit-content;
    display: inline-block;
    position: fixed;
    margin-left: 20px;
}

#optionsBar{
    /* background-color: white; */
    margin: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    /* Muslim happy :) */
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;


    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */

}

/* ------------------------------- STATUS BAR CSS --------------------------- */

#statusBar {
    background-color: white;
    margin: auto;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 20%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

/* ---------------------------------- INFO BAR  CSS --------------------------- */

#infoBar {
    background-color: rgb(32, 31, 31);
    /* padding-left: 10px; */
    margin: auto;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    color: #edebeb;
    scale: 1.05;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 15px; */

    bottom: 0;
    top: 0;
    left: 10;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px rgb(58, 58, 58);
}
#infoBar:hover {
    transform: scale(1.01); /* scales the infoBar by 5% */
    transition: transform 0.3s ease; /* smooth transition */
}

#infoBar h5 {
    font-weight: 700;
    font-size: 1.2em;
    color: #d4d3d3;
    margin-bottom: 10px;
}

#infoBar span {
    font-weight: bold;
}

#infoBar p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

/* --------------------------------------- treeview css -------------*/
#treeview {
    text-align: center;
    margin: auto;
    width: 60%;
}

#unit_tree text {
    font-family: "UWA Regular", "UWA", Georgia, serif;
}

#tree_display {
    padding: 5%;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the space between buttons */
}

.button-container .button {
    width: 250px; /* Fixed width */
    height: 51px; /* Fixed height */
    font-size: 14px; /* Adjust font size */
    text-align: center;
    overflow: hidden; /* Ensure content does not overflow the button */
    transition: all 0.3s; /* Smooth transition */
}

.button-container .button:hover {
    transform: scale(1.05); /* Increase the size of the button */
    cursor: pointer;
}