.unit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    /* give all cells consistent size*/
    min-width: 100px;

    /* nice shadow */
    box-shadow: 3px 3px 5px lightblue;
}

.heading h3{
    margin: 0px;

.heading h4{
    margin: 0px;
    width: 40px;
    height: 72px;
}
}

td:hover{
    border: 1px solid lightblue;
}

.heading{
    text-align: center; 
    vertical-align: middle;
}

/* stop moving table! */

div tr div {
    border: 1px dashed white;
    min-width: 495px;
    max-width: 495px;
    min-height: 72px;
}

table div{
    /* max-height: 193px;
    max-width: 500px; */
    min-height: 180px;
}

/* gives more space to drop units*/
.sensor {
    width: 100%;
    height: 100px;
    border-top: 1px solid lightblue;
}

#table {
    text-align: center;

    /*center align*/
    margin-left: auto;
    margin-right: auto;

    /*space cells*/
    border-spacing: 10px;
    border-collapse: separate;
}

.dragover {
    border: 1px dashed red;
}

.hide {
    display: none;
}

h2 {
    text-align: center;
}

/* NEED TO CHANGE TO NAME OF COLOUR FOR CLEANER CODE */
.NS{
    background-color: tomato;
}

.S1 {
    background-color: aqua;
}

.S2 {
    background-color: lightgreen;
}

.S1S2 {
    background-color: yellow;
}

.grey {
    background-color: lightgray;
}

.redGreenStripe{
    background-image: linear-gradient(45deg, lightgreen 25%, tomato 25%, tomato 50%, lightgreen 50%, lightgreen 75%, tomato 75%, tomato 100%);
    background-size: 56.57px 56.57px;    
}

.redBlueStripe{
    background-image: linear-gradient(45deg, aqua 25%, tomato 25%, tomato 50%, aqua 50%, aqua 75%, tomato 75%, tomato 100%);
    background-size: 56.57px 56.57px;    
}

.redYellowStripe{
    background-image: linear-gradient(45deg, yellow 25%, tomato 25%, tomato 50%, yellow 50%, yellow 75%, tomato 75%, tomato 100%);
    background-size: 56.57px 56.57px;    
}

.sensor h2 {
    margin: 0px;
    text-decoration:underline;
}


/* pad left without adding white line */
/* #infoBar p{
    padding-left: 10px;
} */

#optionsBar {
    background-color: white;
    margin: auto;
    position: fixed;

    /* Muslim happy :) */
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

#infoBar {
    background-color: white;
    margin: auto;
    position: fixed;

    /* Muslim happy :) */
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 900;

    /* if info bar empty it will shrink into nothingness */
    max-height: 60%;
    max-width: 25%;
    min-height: 0px;
    min-width: 0px;

    /* stops text overflow */
    overflow-wrap: break-word;

    /* modern curved look */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

/* treeview css */
#treeview {
    text-align: center;
    margin: auto;
    width: 60%;
}

#unit_tree text {
    font-family: "UWA Regular", "UWA", Georgia, serif;
}

#tree_display {
    padding: 5%;
}
