{% extends "base.html" %}

{% block content %}

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Include the index-specific CSS file -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/getStartedStyle.css') }}">

<div class="container text-center">
    <h1 class="display-4 mb-4">Bachelors of Professional Engineering (Honours)</h1>
    <div class="feature-box"><p>To be eligible for admission to the Bachelor of Professional Engineering (Honours) - BH011 program, candidates must meet the following prerequisites:
        <p>(1) A scaled score above 50% in ATAR Mathematics Methods.</p>
        <p>(2) Completion of at least one of the following ATAR subjects: Mathematics Specialists, Chemistry, or Physics.</p>
            <p>In the event that a candidate has not completed all three of the specified ATAR subjects, they will be required to enroll in a bridging unit for each uncompleted subject. These bridging units will be counted as broadening units in their course structure.</p> </p></div>
    <h3 class="lead">Please select your specialization:</h3>

    <form action="{{ url_for('preferences') }}" method="post" id="specialization-form">
        <div class="form-group">
            <select class="form-control" name="specialization" id="specialization" required>
                <option value="" selected>Select Specialization</option>
                <option value="SP-EBIOM">Biomedical Engineering</option>
                <option value="SP-ECHEM">Chemical Engineering</option>
                <option value="SP-ECIVI">Civil Engineering</option>
                <option value="SP-EELEC">Electrical and Electronic Engineering</option>
                <option value="SP-EENVI">Environmental Engineering</option>
                <option value="SP-EMECH">Mechanical Engineering</option>
                <option value="SP-EMINI">Mining Engineering</option>
                <option value="SP-ESOFT">Software Engineering</option>
            </select>
        </div>

        <!-- High School Courses Questions -->
        <!-- High School Courses Questions -->
        <div class="form-group">
            <label>Did you take Mathematics Specialist ATAR in high school and did you achieve a scaled score of >50%?</label><br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="mathSpecialist" value="yes" required autocomplete="off"> Yes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="mathSpecialist" value="no" autocomplete="off"> No
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label>Did you take Chemistry ATAR in high school and did you achieve a scaled score of >50%?</label><br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="chemistry" value="yes" required autocomplete="off"> Yes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="chemistry" value="no" autocomplete="off"> No
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label>Did you take Physics ATAR in high school and did you achieve a scaled score of >50%?</label><br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="physics" value="yes" required autocomplete="off"> Yes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="physics" value="no" autocomplete="off"> No
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="button border" disabled style="opacity:0.5;">Submit</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initial check for form validation
        validateForm();

        // Event listener for changes in the form
        document.getElementById('specialization-form').addEventListener('change', validateForm);

        // Event listener for form submission
        document.getElementById('specialization-form').addEventListener('submit', function(event) {
            var mathSpecialist = document.getElementsByName('mathSpecialist');
            var chemistry = document.getElementsByName('chemistry');
            var physics = document.getElementsByName('physics');
            
            if (!radioIsChecked(mathSpecialist, 'yes') && !radioIsChecked(chemistry, 'yes') && !radioIsChecked(physics, 'yes')) {
                event.preventDefault();
                
                var errorDiv = document.createElement('div');
                errorDiv.setAttribute('id', 'error-message');
                errorDiv.setAttribute('class', 'alert alert-danger');
                errorDiv.innerHTML = 'Unfortunately, you are ineligible for enrollment in the Bachelor of Engineering Honours program as you have not satisfied the fundamental prerequisites. You must attain a scaled average of >50% in at least one of the following ATAR subjects: Maths Specialist, Chemistry, or Physics.';
                
                var submitButton = document.querySelector('.button.border');
                var existingErrorDiv = document.getElementById('error-message');
                if (existingErrorDiv) {
                    submitButton.parentNode.replaceChild(errorDiv, existingErrorDiv);
                } else {
                    submitButton.parentNode.insertBefore(errorDiv, submitButton);
                }
            }
        });
    });

    function validateForm() {
        // Retrieve form elements
        var specialization = document.getElementById('specialization');
        var mathSpecialist = document.getElementsByName('mathSpecialist');
        var chemistry = document.getElementsByName('chemistry');
        var physics = document.getElementsByName('physics');
        var submitButton = document.querySelector('.button.border');

        // Check if all fields are filled
        if (specialization.value !== "" && radioIsChecked(mathSpecialist) &&
            radioIsChecked(chemistry) && radioIsChecked(physics)) {
            submitButton.disabled = false;
            submitButton.style.opacity = "1";
        } else {
            submitButton.disabled = true;
            submitButton.style.opacity = "0.5";
        }
    }

    // Function to check if any radio button in a group is checked
    function radioIsChecked(radioGroup, value = null) {
        for (var i = 0; i < radioGroup.length; i++) {
            if (radioGroup[i].checked && (value === null || radioGroup[i].value === value)) {
                return true;
            }
        }
        return false;
    }

    $(document).ready(function() {
        // Set the initial state of "No" buttons to blue
        $('.btn-group-toggle label:contains("No")').addClass('active').css('background-color', 'rgb(50, 50, 228)');

        // Toggle the active state and background color when a button is clicked
        $('.btn-group-toggle label').click(function() {
            $(this).addClass('active').css('background-color', 'rgb(50, 50, 228)').siblings().removeClass('active').css('background-color', 'lightgray');
        });
    });
</script>


{% endblock %}