{% extends "base.html" %}
{% block content %}
    <!-- Include local and external stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/planner.css') }}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- Main heading -->
    <h1>{{ specialization_name }} [{{ specialization }}]</h1>
    
    <!-- Main content area -->
    <main id = "root">
        <!-- Collapsible instruction box -->
        <div class= "boxed" style="border: none;">
            <div class="feature-box" style="padding: 0 20px;">
                <button class="collapsible" style="text-align: center;"><h4>How to Utilize This Feature?</h4> <span class="arrow">&#x25BC;</span></button>
                <div class="content">
                <!-- Instructions and guidelines for using the course planner tool -->
                <p>Welcome to your custom course study planner - a tool designed to be user-friendly, intuitive, and engaging. Here's a quick guide to help you navigate:</p>
                <p>Displayed below are the unit numbers corresponding to all the units in your selected course. You can click on any unit number to view detailed information including its name, semester offerings, prerequisites, corequisites, and dependent units.</p>
                <p>Additionally, you have access to several helpful functionalities through the buttons below:
                    <ul>
                        <li><strong>Semester Offered</strong>: This function highlights units based on their semester offerings. Units are color-coded as follows: blue (Semester 1), purple (Semester 2), orange (both semesters), and red (non-standard period offerings). </li>
                        <li><strong>Units with Corequisites</strong>: Activating this will highlight units that have corequisites, helping you identify units that should be taken concurrently.</li>
                        <li><strong>Units with Prerequisites</strong>: Use this function to identify units with prerequisites, assisting in planning your course progression logically and avoiding scheduling conflicts.</li>
                        <li><strong>Units with Point Requirements</strong>: This highlights units with specific point requirements, which could be course points or skill points, like programming proficiency. For more details, please consult with a course advisor.</li>
                        <li><strong>Export PDF</strong>: This feature allows you to export your current configuration of units as a PDF to be viewed later.</li>
                    </ul>
                </p>
                <p>By clicking on a unit, a dedicated Information Bar will surface on the left, outlining the unit's pertinent details. This action will also trigger a color-coded system across other units to convey their relationships and statuses. Here's a breakdown of the color-coded guidance: 
                    <ul>
                        <li><strong>Purple</strong> flags the unit's prerequisites.</li>
                        <li><strong>Blue</strong> represents corequisites tied to the unit.</li>
                        <li><strong>Orange</strong> identifies units that are contingent on the completion of the selected unit.</li>
                        <li><strong>Red</strong> signifies units that have complications or issues.</li>
                        <li><strong>Stripe patterns</strong>, notably the purple-red combination, signal overlapping concerns, such as a problematic prerequisite.</li>
                    </ul>
                </p>
                <p>Your major may require specific option units, like Group A or Group B electives. These units are showcased in the options bar. Drag them to your preferred location on the timetable. As you place each unit, it will disappear from the options bar. The course planner will immediately showcase any configuration issues in red, helping you make necessary adjustments.</p>
                <p>An ever-present InfoBar at the top provides essential guidance. It may prompt you to 'Add option units', 'Fix existing problems', or when all requirements are met, it will display 'Done'.</p>
                <p>Furthermore, at the bottom of the page, you'll find a section titled "Need to see the importance of a unit?". Utilizing the dropdown menu in this section allows you to select a unit and visualize a tree structure showcasing the interconnected relationships between units. This feature highlights the significance of the selected unit in your course planning by displaying all the units that require it, as well as its prerequisites, offering a comprehensive view of how this unit influences future studies.</p>
                <p>The table below is interactive, allowing you to customize your course structure freely. If you wish to extend your course duration, simply drag a unit below the final year displayed to add another year. Happy planning!</p>
                </div>
            </div>
         </div>
         <hr>
         <!-- Highlighting options for course units -->
         <h4 class="buttonHeader">Highlight</h4>
            <div class="button-container">
                <button id="SemesterFilter" class="button">Semesters Offered</button>
                <button id="corequisiteFilter" class="button">Units with Corequisites</button>
                <button id="prequisiteFilter" class="button">Units with Prequisites</button>
                <button id="pointRequirementsFilter" class="button">Units with Point Requirements</button>
                <button id="noteFilter" class="button">Units with Notes</button>
            </div>
    </main>
     <!-- Tree view section to visualize unit dependencies -->
    <div id="treeview">
        <h3>Need to see the importance of the unit?</h3>
        <p>Select a unit and see dependencies on it. Once the tree is created, you can click on a unit if you wish to narrow down the pathways</p>
        <select class="form-control" id="chosen_unit">
            <option value="">Select a unit to visualize</option>
        </select>
        <br>
        <button id="prereqs_btn" onclick="get_prereqs()" class="button">Check Pre-requisites</button>
        <button id="child_btn" onclick="get_children()" class="button">Check Child Units</button>
        <!-- <button id="vis_btn" onclick="drawUnitPaths()">Visualize</button> -->
        <div id="tree_display">
            <div id="err_msg_treeview"></div>
            <div id="unit_tree"></div>
        </div>
       
    </div>
    <!-- JavaScript functionality for page interactions -->
    <script>
        // Access the variable in JavaScript
        var specialization = "{{ specialization }}";
        var specialization_name = "{{ specialization_name }}"
        var yearLevel = "{{ yearLevel }}";
        var isSpec = "{{ mathSpecialist }}"
        var isMeth = "{{ mathMethods }}"
        var isPhys = "{{ physics }}"
        var isChem = "{{ chemistry }}"

        // Event listeners for collapsible content
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                    this.querySelector('.arrow').innerHTML = "&#x25BC;";
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    this.querySelector('.arrow').innerHTML = "&#x25B2;";
                } 
            });
        }



                       
    </script>
    <!-- Add all the neccessary scripts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/planner/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/treeview.js') }}"></script>
{% endblock %}