{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/planner.css') }}">
    
    
    
    <h1>Welcome to the {{ specialization }} program!</h1>
    

    <main id = "root">
        <h1>Planner v.10</h1>  
        <h3>Year gets deleted when empty. CSS improvements.</h3>

        <button id="SemesterFilter">Semesters Offered</button>
        <button onclick="display_all()">Generate nodes</button>
        <div id="nodes"></div>
        <br>
        <label>chosen unit:</label>
        <input type="text" id="chosen_unit">
        <button id="prereqs_btn" onclick="display_unit(); get_prereqs()">Check Pre-requisites</button>
        <button id="child_btn" onclick="display_unit(); get_children()">Check Children</button>
        <br>
        <h6 id="unitchosen"></h6>
        <h6 id="prereqs_head"></h6>
        <div id="prereqs"></div>
        <h6 id="child_head"></h6>
        <div id="child_units"></div>
    </main>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/planner.js') }}"></script>
        
    <script>
        // Access the variable in JavaScript
        var specialization = "{{ specialization }}";
        var isSpec = "{{mathSpecialist}}"


        // Now you can use the specialization variable in your JavaScript code
        // Example: Display a welcome message in an alert box
        // alert("Welcome to the " + specialization + " program!");
        // if (isSpec == "yes"){
        //     alert("You have passed Maths specialist! well done!")
        // }
        // else{
        //     alert("You have not completed or passed maths specialist. Unlucky Bud")
        // }

        
    </script>
{% endblock %}