{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="column-group flex">
        <div class="column-three-quarter">
            <div id="ctl00_pnlSubPageContent" class="width-full">
                <h3 class="display-4 mb-4">Input Unit Details to Upload to the Database</h3>

                <form id="uploadform">
                    <input type="text" value="Unit Code">
                    <input type="text" value="Unit Name">

                    <input type="select" value="Semester Offered">
                    <input type="select" value="Unit Type">
                    <input type="select" value="Unit Level">
                    <input type="number" value="Credit Points">

                    <input type="number" value="Points Required">
                    

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
